body {
  margin: 0;
  padding: 0;
}

h1, h2, p {
  color: #222;
  margin: 0 auto;
}

h1.title {
  margin-left: 2em;
  line-height: 3;
}

a {
  color: #222;
}

#content {
  margin: 0;
  padding: 0;
  width: 3000px;
  height: 5000px;
  background: url(../img/bg.png) repeat left top;
}

#stopBtn {
  position: fixed;
  right: 0;
  top: 100px;
  background: rgba(10, 10, 10, .7);
}
#stopBtn p,
#stopBtn a {
  color: #fff;
  font-weight: bold;
}

#stopBtn a {
  margin: 8px 12px;
  line-height: 2em;
}
